*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(90deg, rgb(255, 255, 255) , rgba(255, 255, 255, 0.425)); */
    background: linear-gradient(40deg , rgb(116, 221, 116), rgb(119, 119, 209));

}
.head{
    text-align: end;
    height: 50px;
    margin: 20px;
    
}
.user{
    font-size: x-large;
}
.head button{
    width: 20vh;
    margin: 0px 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}
.pop{
    /* border: 2px solid red; */
    display: flex;
    justify-content: end;
    margin: 20px 20px 20px 20px;
    display: none;
}
.popup{
    border: 2px solid;
    width: 20%;
    padding: 10px;
}

.head2{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    margin-bottom: 5px;
}
.main{
    display: flex;
}
.main i,span{
    margin: 40px 15px 10px 5px;
}
.pop button{
    padding: 2vh;
    margin: 10px 10px;
    background-color: rgb(108, 214, 247);
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0s ease-in-out;
}

.pophead, button{
    background-color: rgb(179, 222, 235);
    box-shadow: 2px 2px 5px black;
    color: black;
}
.pophead, button:hover{
    background-color: rgb(156, 193, 204);
    box-shadow: 2px 2px 5px black;
    color: black;
}
.pophead, button:active{
    background-color: rgb(145, 220, 243);
    box-shadow:inset 2px 2px 5px black;
    color: black;
}
form{
    padding: 20px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.profile{
    background-color: rgb(77, 241, 192);
    margin-top: 60px;
    /* background-color: rgb(144, 114, 175); */
    /* border: 2px red dotted; */
    width: max-content;
    padding: 30px;
    /* height: 500px; */
}

.profile h1{
    text-align: center;
    padding-bottom: 20px;
}
.profile span{
    display: block;
    margin-top: 10px;
}
.profile input{
    padding: 10px;
    border: 1px solid;
    height: 30px;
    border-radius: 10px;
}
.profile button {
    margin: 10px;
    width: 5rem;
    height: 2rem;
}
.edit{
    display: flex;
}
/* sidebar */

 